# Server Config
PORT=5001
NODE_ENV=production
JWT_SECRET=your_jwt_secret_same_as_main_backend

# Neon PostgreSQL Database Connection
DATABASE_URL=postgresql://user:password@ep-sample-123456.ap-southeast-1.aws.neon.tech/curastra?sslmode=require

# ABDM Gateway Configuration
ABDM_BASE_URL=https://abhasbx.abdm.gov.in/abha/api
ABDM_SESSION_URL=https://dev.abdm.gov.in/gateway/v0.5/sessions
ABDM_CLIENT_ID=your_abdm_client_id
ABDM_CLIENT_SECRET=your_abdm_client_secret
